*.so filter=lfs diff=lfs merge=lfs -text
libcrypto.a filter=lfs diff=lfs merge=lfs -text
libg7221codec-x86_64-apple-darwin_ios.a filter=lfs diff=lfs merge=lfs -text
libgsmcodec-x86_64-apple-darwin_ios.a filter=lfs diff=lfs merge=lfs -text
libilbccodec-x86_64-apple-darwin_ios.a filter=lfs diff=lfs merge=lfs -text
libopenh264.a filter=lfs diff=lfs merge=lfs -text
libpj-x86_64-apple-darwin_ios.a filter=lfs diff=lfs merge=lfs -text
libpjlib-util-x86_64-apple-darwin_ios.a filter=lfs diff=lfs merge=lfs -text
libpjmedia-audiodev-x86_64-apple-darwin_ios.a filter=lfs diff=lfs merge=lfs -text
libpjmedia-codec-x86_64-apple-darwin_ios.a filter=lfs diff=lfs merge=lfs -text
libpjmedia-videodev-x86_64-apple-darwin_ios.a filter=lfs diff=lfs merge=lfs -text
libpjmedia-x86_64-apple-darwin_ios.a filter=lfs diff=lfs merge=lfs -text
libpjnath-x86_64-apple-darwin_ios.a filter=lfs diff=lfs merge=lfs -text
libpjsdp-x86_64-apple-darwin_ios.a filter=lfs diff=lfs merge=lfs -text
libpjsip-simple-x86_64-apple-darwin_ios.a filter=lfs diff=lfs merge=lfs -text
libpjsip-ua-x86_64-apple-darwin_ios.a filter=lfs diff=lfs merge=lfs -text
libpjsip-x86_64-apple-darwin_ios.a filter=lfs diff=lfs merge=lfs -text
libpjsua-x86_64-apple-darwin_ios.a filter=lfs diff=lfs merge=lfs -text
libpjsua2-x86_64-apple-darwin_ios.a filter=lfs diff=lfs merge=lfs -text
libresample-x86_64-apple-darwin_ios.a filter=lfs diff=lfs merge=lfs -text
libspeex-x86_64-apple-darwin_ios.a filter=lfs diff=lfs merge=lfs -text
libsrtp-x86_64-apple-darwin_ios.a filter=lfs diff=lfs merge=lfs -text
libssl.a filter=lfs diff=lfs merge=lfs -text
