<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.carusto.ReactNativePjSip">
    <uses-permission android:name="android.permission.USE_SIP" />
    <application>
        <service
            android:name=".PjSipService"
            android:enabled="true"
            android:exported="true" />
    </application>
</manifest>